@model QuestionsByCategoryViewModel

<div class="row bg-light text-center">
    <h2>Questions that have a tag of: @Model.Category.Name</h2>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2" style="margin-top:100px">
        @foreach (var question in Model.Questions)
        {
            <div class="card card-body bg-light">
                <h4>
                    <a href="/question/viewquestion?id=@question.Id">@question.Title</a>
                </h4>
                <div>
                    <span>Tags:</span>
                    @foreach (var tag in question.Tags)
                    {
                        <a href="/Home/QuestionsByCategory">
                            <span class="badge bg-primary">@tag.Category.Name</span>
                        </a>
                    }
                </div>
                <div style="margin-top: 10px;">@question.Description</div>
                <br />
                <span>@($"{question.Answers.Count} {(question.Answers.Count > 1 ? "answers" : "answer")}")</span>
            </div>
        }
    </div>
</div>
